@import url("root.css");
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border: 5px solid black;
}
.table td{
    background: none;
}

th:first-child, td:first-child{
  position:sticky;
  left:0px;
  background: white;
  color: #000;
  border-right: 1px solid white ;
}

.table .present{
    background: #84FF3D;
}
.table .absent{
    background:var(--c1);
}


table::-webkit-scrollbar {
    width: 1em;
  }
  table::-webkit-scrollbar-thumb {
    background-color: grey;
  }
  



