.magic_opener{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    top: 0%;
    left: 0%;
    z-index: 5;
}
.mboxbox{
    background-color: #fff;
    width: 50vw;
    border-radius: 25px;
    padding: 25px;
    position: absolute;
    top: -50%;
    left: 50%;

    transform: translate(-50%,100%);
}