@import url("root.css");
table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
.table td{
    background:  rgb(196, 189, 189);
    border: none;
}

th:first-child, td:first-child{
  position:sticky;
  left:0px;
  background: white;
  color: #000;
  border-right: 1px solid white ; 
}

.table .present{
    background: #1f7953;
    border-radius: 25%;
}
.table .absent{
    background: #992222;
    border-radius: 25%;
}


table::-webkit-scrollbar {
    width: 1em;
  }
  table::-webkit-scrollbar-thumb {
    background-color: #DFDFDE;
  }
  



