@import url("./root.css");
.boxbox{
    background: linear-gradient(
		90deg, 
		rgba(255, 255, 255, 0.741) 50%,
		rgba(0, 0, 0, 0.763) 97%
	);
}
.iboxbox{
    border: 1px solid black;
    border-radius: 50%;
    background-color: #fff;
}
.canvap{
    margin-top: 1em;
    margin-bottom: 2em;
}