.magic_opener{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.267);
    top: 0%;
    left: 0%;
    z-index: 5;
}
.mboxbox{
    background-color: #fff;
    width: 50vw;
    border-radius: 25px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}


.slidebtn .cancelbtn{
    background-color: #0d0d0d;
    border: 1px solid #0d0d0d;
    color: white;
  }
  .slidebtn .cancelbtn:hover{
    background-color: #3d3d3d;
    color: white;
  }


  .form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    opacity: .65;
    transform: scale(.85) translateY(-0.5rem) translateX(-17%);
}
/*
.slidebtn .cancelbtn{
    border: 1px solid red;
    color: red;
}
.slidebtn .cancelbtn:hover{
    background-color: red;
    color: white;
}
*/
